
body {
    background-image: url('../Source/header.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


    @font-face {
        font-family: snow-font;
        src: url(../Source/snow-font.ttf);
}

    .header {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 0;
}

.interpretation {
    position: absolute;
    left: 5% ;
    bottom: 0px;
    color: white;
    width: 90%;
    height: 300px;
    font-family: snow-font;
    font-size: 30px;
    text-shadow: #00FFFF 0 0 5px;
    margin: 35% auto auto auto;
}
